#!/usr/bin/env bash

if command -v nix && [[ $(uname -s) =~ Linux ]]; then
	# Watch & reload direnv on change
	watch_file .nix/flake.nix

	if [[ $(type -t use_flake) != function ]]; then
		echo "ERROR: use_flake function missing."
		echo "Please update direnv to v2.30.0 or later."
		exit 1
	fi
	use flake ".nix/"
fi

GOPATH="${HOME}/go:$(pwd)"
PATH="${HOME}/go/bin:$PATH"
export PATH GOPATH
